<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Repeat Counter</title>
    </head>
    <body>
        <h1>Repeat Counter</h1>
        <h3>How many times does a word appear in a phrase or paragraph?</h3>
        <form action="/phrase-output" method="post">
            <label for="phrase">Enter test to search</label>
            <input type="text" name="phrase" id="phrase">
            <label for="search">Enter word to search for</label>
            <input type="text" name="search" id="search">
            <button type="submit">Go!</button>
        </form>
    </body>
</html>
