<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Repeat Counter</title>
    </head>
    <body>
        <p>
            The word you entered appears {{count}} in the phrase entered.
        </p>
    </body>
</html>
