body{
    background-image: url("../img/notebook-paper.jpg");
    /*background-repeat: no-repeat;*/
    background-size: cover;
    height: auto;
}
.jumbotron{
    margin-top: 20px;
    font-family: aclonica;
    border-style: inset;
    border-color: #b3b300;
    text-align: center;
    background-color: white;
}
.instructions{
    background-color: white;
    font-size: 25px;
    font-family: oswald;
    font-style: bold;
    margin: 25px;
    border-style: inset;
    border-color: #b3b300;;
    padding: 10px;
    border-radius: 5px;
}
label{
    font-size: 30px;
    font-family: aclonica;
    margin-top: 10px;
}
input{
    border-style: inset;
    border-color: #669999;
}
#phrase{
    height: 100px;
}
#word-output{
    font-size: 30px;
    font-family: aclonica;
}
#phrase-output{
    font-size: 25px;
    font-family: oswald;
    font-style: bold;
}
#char-output{
    font-style: bold;
    font-family: aclonica;
    font-size: 30px;
}
button{
    background-color: #669999;
    color: white;
    font-family: aclonica;
    font-size: 30px;
    margin: 10px;
}
/*.form-group {
    background-image:url("../img/sprial.png");
}*/
