body{
    background-color: teal;
}
.jumbotron{
    margin-top: 20px;
    font-family: aclonica;
    border-style: inset;
    border-color: #669999;
}
input{
    border-style: inset;
    border-color: #669999;
}
#word-output{
    font-size: 30px;
    font-family: aclonica;
}
#phrase-output{
    font-style: bold;
    font-family: oswald;
    font-size: 20px;
}
#char-output{
    font-style: bold;
    font-family: aclonica;
    font-size: 30px;
}
button{
    background-color: #669999;
    color: white;
}
.words{
    color: teal;
}
